@import 'normalize.css';

body {
  font: 16px/1.6 Arial, sans-serif;
}

article#main {
  max-width: 960px;
  margin: 160px auto;
}

div#editor {
  max-width: 960px;
  margin: 160px auto;
}

textarea {
  overflow: hidden;
  resize: none;
  outline: none;
  padding: 14px;
  font: 14px/1.6 monospace;
  width: 100%;
}

a[href*="#/page/tag:"] {
  color: #b59575;
  text-decoration: none;
}

pre {
  padding: 1em;
  background-color: #efefef;
}

ul, ol {
  padding-left: 0;
}

li {
  margin-left: 1.6em;
}

.hide {
  display: none !important;
}
